<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Potens — Careers</title>

    <!-- Styles -->
    <link href="../static/css/page.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

  
  </head>

  <body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left">
          <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
          <a class="navbar-brand" href="/">
            <img class="logo-dark" src="../static/img/potenslogo.PNG" alt="logo">
          </a>
        </div>

        <section class="navbar-mobile">
          <span class="navbar-divider d-mobile-none"></span>

          <ul class="nav nav-navbar">
            <ul class="nav">


            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About Us <span class=""></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/service">Services <span class=""></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/client">Clients <span class=""></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/career">Careers <span class=""></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us <span class=""></span></a>
          </li>
        </ul>
        </section>

       
      </div>
    </nav><!-- /.navbar -->


    <!-- Header -->
    <header class="header text-black" style="background-image: url(../static/img/bg/a2.jpg)" >
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">

            <h1>Get A Job <span class="text-primary" data-typing="At Potens, As Developer , As Designer, As Intern"></span></h1>
            <p class="lead-2">You have got the change to work and thrive with us. We are a small group of developers who wants to make a family!</p>

            <br>
            <hr class="w-60px">
            <br>

            <a class="btn btn-lg btn-round btn-light" href="#section-open-positions">Open Positions</a>

          </div>
        </div>

      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">


      


  



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Open positions
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section" id="section-open-positions">
        <div class="container">
          <header class="section-header">
            
            <h2>Open Positions</h2>
            <hr>
            <p class="lead">Following list displays our current required positions. This list will update regularly.</p>
          </header>


          <div class="accordion accordion-connected shadow-5" id="accordion-job">

            <div class="card">
              <h6 class="card-title">
                <a class="d-flex align-items-center collapsed" data-toggle="collapse" href="#collapse-job-1">
                  <strong class="mr-auto">Software Developer Intern</strong>
                  <span class="small text-lighter">Pune,India <i class="fa fa-map-marker ml-2"></i></span>
                </a>
              </h6>

              <div id="collapse-job-1" class="collapse" data-parent="#accordion-job">
                <div class="card-body">
                  <p>Use your extensive knowledge of JavaScript, HTML, and CSS to improve our web client, a complex in-browser application relied upon by millions of users every day. You will work with real-time data streams, engineer for performance across browsers, and delight people by making the best software we can imagine. You will collaborate closely with Product, Design, Application Engineering, and QA to spec, build, test and deploy new features. This position reports directly to the Director of Front-end Engineering.</p>

                  <hr class="w-100px">

                  <p class="text-center"><a class="btn btn-lg btn-primary" href="#">Apply Now</a></p>
                </div>
              </div>
            </div>


            <div class="card">
              <h6 class="card-title">
                <a class="d-flex align-items-center collapsed" data-toggle="collapse" href="#collapse-job-2">
                  <strong class="mr-auto">Graphic Designer</strong>
                  <span class="small text-lighter">Pune,India <i class="fa fa-map-marker ml-2"></i></span>
                </a>
              </h6>

              <div id="collapse-job-2" class="collapse" data-parent="#accordion-job">
                <div class="card-body">
                  <p>• We are seeking a new Graphic Designer to join our team.</p>
                   <p>• You will be designing a wide variety of things for our apps and digital media. You gotta have an awesome color sense, creativity and skills to design awesome graphics and express intangible things in illustrations.</p>
                   <p>• To be successful in this position, you'll be a self-starter, capable of delivering brilliant creative ideas, and show amazing attention to detail</p>
                   <p> Roles and Responsibilities :</p>
                    <p>• Develop marketing collaterals and digital assets (social media creatives, web banners, ads, infographics, product illustrations, icons, blog images, notification images, brochures design, pamphlets, emailer graphics, and other designs) using designing tools within deadlines.</p>
                    <p>• Study design briefs and determine requirements</p>
                    <p>• Amend designs after feedback & ensure final graphics and layouts are visually appealing and as per requirement.</p>

                  <hr class="w-100px">

                  <p class="text-center"><a class="btn btn-lg btn-primary" href="#">Apply Now</a></p>
                </div>
              </div>
            </div>


            <div class="card">
              <h6 class="card-title">
                <a class="d-flex align-items-center collapsed" data-toggle="collapse" href="#collapse-job-3">
                  <strong class="mr-auto">Digital Marketing Executive</strong>
                  <span class="small text-lighter">Pune,India<i class="fa fa-map-marker ml-2"></i></span>
                </a>
              </h6>

              <div id="collapse-job-3" class="collapse" data-parent="#accordion-job">
                <div class="card-body">
                  <p>Exp: 1-3 years; Digital Marketing Executive We are seeking an action-oriented Digital Marketer to help concept, implement and optimize various inbound marketing campaigns, including but not limited to Website Management, Social Media Marketing, Content Creation, Online Brand Campaigns, Online Advertising, PPC Campaigns & Online PR. The Digital Marketing Executive will report to the Digital Marketing Manager. </p>

                  <hr class="w-100px">

                  <p class="text-center"><a class="btn btn-lg btn-primary" href="#">Apply Now</a></p>
                </div>
              </div>
            </div>

          </div>


        </div>
      </section>


    </main><!-- /.main-content -->


    <!-- Footer -->
    <footer class="footer text-white bg-img bg-fixed" style="background-image: url(../static/img/vector/9.jpg)" data-overlay="8">
      <div class="container py-7">
        <div class="row gap-y">

          <div class="col-6 col-md-4 col-xl-2">
            <h6 class="mb-4"><strong>Company</strong></h6>
            <div class="nav flex-column">
              <a class="nav-link" href="/">About us</a>
              <a class="nav-link" href="/career">Careers</a>
              <a class="nav-link" href="/service">Services</a>
              <a class="nav-link" href="/contact">Contact Us</a>
            </div>
          </div>
          <div class="col-md-5">
            <h6 class="mb-4"><strong>Office</strong></h6>
            <h5>Pune, India</h5>
            <p>S No 18/B, Third Floor, Aargya Apt, Karvenagar,<br> Bharatkunj - 1, Erandwane <br>Pune, Maharashtra 411038</p>
            <br>
          
          </div>
      

        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row gap-y">

          <div class="col-md-6 text-center text-md-left">
            <small class="opacity-70">© 2020 POTENS IT SERVICES AND CONSULTANCY PVT.LTD. ALL RIGHTS RESERVED.</small>
          </div>

          <div class="col-md-6 text-center text-md-right">
            <div class="social">
              <a class="social-linkedin" href="https://www.linkedin.com/company/potens-it-services-and-consultancy/"><i class="fa fa-linkedin"></i></a>
              <a class="social-facebook" href="https://www.facebook.com/Potens-It-Services-And-Consultancy-106026941295270/"><i class="fa fa-facebook"></i></a>
              <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </footer><!-- /.footer -->
<!-- /.footer -->


    <!-- Scripts -->
    <script src="../static/js/page.min.js"></script>
    <script src="../static/js/script.js"></script>

  </body>
</html>
