<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Potens — Contact</title>

    <!-- Styles -->
    <link href="../static/css/page.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

  </head>

  <body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left">
          <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
          <a class="navbar-brand" href="/">
            <img class="logo-dark" src="../static/img/potenslogo.PNG" alt="logo">
            <!-- <img class="logo-light" src="../static/img/potens logo_PNG.png" alt="logo"> -->
          </a>
        </div>

        <section class="navbar-mobile">
          <span class="navbar-divider d-mobile-none"></span>

          <ul class="nav nav-navbar">
            <ul class="nav">


            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About Us <span class=""></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/service">Services <span class=""></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/client">Clients <span class=""></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/career">Careers <span class=""></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us <span class=""></span></a>
        
          </li>
        </ul>
        </section>

        

      </div>
    </nav><!-- /.navbar -->


    <!-- Header -->
    <header class="header pt-10 pb-0">
      <div class="container text-center">
        <h1 class="display-4">Let's Get In Touch</h1>
        <p class="lead-2 mt-6">Here are the ways you can Contact Us with any questions you have</p>
      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Contact form
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">

          <div class="row">
            <form class="col-lg-6 mx-auto p-6 bg-gray rounded" action="../static/php/sendmail.php" method="POST" data-form="mailer">
              <div class="alert alert-success d-on-success">We received your message and will contact you back soon.</div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input class="form-control form-control-lg" type="text" name="name" placeholder="Your Name">
                </div>

                <div class="form-group col-md-6">
                  <input class="form-control form-control-lg" type="email" name="email" placeholder="Your Email Address">
                </div>
              </div>


              <div class="form-group">
                <textarea class="form-control form-control-lg" rows="4" placeholder="Your Message" name="message"></textarea>
              </div>

              <div class="text-center">
                <button class="btn btn-lg btn-primary" type="submit">Submit Inquiry</button>
              </div>
            </form>
          </div>

        </div>
      </section>



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Map
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section text-white bg-dark bg-img" style="background-image: url(../static/img/thumb/14.jpg)" data-overlay="6">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-5">
              <p class="text-uppercase small opacity-70 fw-600 ls-1">Head Office</p>
              <h5>Pune, India</h5>
              <br>
              <p>S No 18/B, Third Floor, Aargya Apt, Karvenagar,<br> Bharatkunj - 1, Erandwane <br>Pune, Maharashtra 411038</p>
              <p>Phone: +1 987 123 6548<br>Email: careers@potens.com</p>
              <br>
              <h6>Follow Us</h6>
              <div class="social social-sm social-inverse">
                <a class="social-dribbble" href="https://www.linkedin.com/company/potens-it-services-and-consultancy/"><i class="fa fa-linkedin"></i></a>
                <a class="social-facebook" href="https://www.facebook.com/Potens-It-Services-And-Consultancy-106026941295270/"><i class="fa fa-facebook"></i></a>
                <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
                
              </div>
            </div>


            <div class="col-md-7">
             
            </div>

          </div>
        </div>
      </section>

    </main><!-- /.main-content -->


    <!-- Footer -->
    <footer class="footer text-white bg-img bg-fixed" style="background-image: url(../static/img/vector/9.jpg)" data-overlay="8">
      <div class="container py-7">
        <div class="row gap-y">

          <div class="col-6 col-md-4 col-xl-2">
            <h6 class="mb-4"><strong>Company</strong></h6>
            <div class="nav flex-column">
              <a class="nav-link" href="/">About us</a>
              <a class="nav-link" href="/career">Careers</a>
              <a class="nav-link" href="/service">Services</a>
              <a class="nav-link" href="/contact">Contact Us</a>
            </div>
          </div>
          <div class="col-md-5">
            <h6 class="mb-4"><strong>Office</strong></h6>
            <h5>Pune, India</h5>
            <p>S No 18/B, Third Floor, Aargya Apt, Karvenagar,<br> Bharatkunj - 1, Erandwane <br>Pune, Maharashtra 411038</p>
            <br>
          
          </div>
      

        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row gap-y">

          <div class="col-md-6 text-center text-md-left">
            <small class="opacity-70">© 2020 POTENS IT SERVICES AND CONSULTANCY PVT.LTD. ALL RIGHTS RESERVED.</small>
          </div>

          <div class="col-md-6 text-center text-md-right">
            <div class="social">
              <a class="social-linkedin" href="https://www.linkedin.com/company/potens-it-services-and-consultancy/"><i class="fa fa-linkedin"></i></a>
              <a class="social-facebook" href="https://www.facebook.com/Potens-It-Services-And-Consultancy-106026941295270/"><i class="fa fa-facebook"></i></a>
              <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </footer><!-- /.footer -->
<!-- /.footer -->


    <!-- Scripts -->
    <script src="../static/js/page.min.js"></script>
    <script src="../static/js/script.js"></script>

  </body>
</html>
