<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Potens — Services</title>

    <!-- Styles -->
    <link href="../static/css/page.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

  </head>

  <body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left">
          <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
          <a class="navbar-brand" href="/">
         <!--logo-->   <img class="logo-dark" src="../static/img/potenslogo.PNG" alt="logo">

          </a>
        </div>

        <section class="navbar-mobile">
          <span class="navbar-divider d-mobile-none"></span>

          <ul class="nav nav-navbar">
              <ul class="nav">


              </ul>
            
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us <span class=""></span></a>
             
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/service">Services <span class=""></span></a>
           
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/client">Clients <span class=""></span></a>
          
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/career">Careers <span class=""></span></a>
           
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us <span class=""></span></a>
            
            </li>
          </ul>
        </section>


      </div>
    </nav>
<!-- 
    Header -->
    <header class="header text-black" style="background-image: url(../static/img/bg/a4.jpg)" >
      <div class="container text-center"></div>
        <div class="row">
          <div class="col-md-8 mx-auto py-7">

            <h1 class="display-3 fw-500">Let's Work Together</h1>
            <p class="lead-2 mt-6">We provide quality services to launch your startup or grow your business</p>

          </div>
        </div>

      </div>
    </header>


    <!-- Main Content -->
    <main class="main-content">


    


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Services
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <small>Services</small>
            <h2>Our Services</h2>
            <hr>
            <p class="lead">We deliver quality software using cutting edge technology as per needs and demands of the solution and client</p>
          </header>


          <div class="row gap-y">

            <div class="col-md-6 col-xl-3">
              <div class="card card-body bg-info shadow-3 text-white text-center">
                <p class="my-5"><i class="icon-mobile lead-6"></i></p>
                <h5 class="mb-5 fw-500"><a href="#">Web Design</a></h5>
                
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="card card-body shadow-3 text-center">
                <p class="my-5"><i class="icon-mobile lead-6"></i></p>
                <h5 class="mb-5 fw-500"><a href="#">Mobile App</a></h5>
               
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="card card-body bg-info shadow-3 text-white text-center">
                <p class="my-5"><i class="icon-mobile lead-6"></i></p>
                <h5 class="mb-5 fw-500"><a href="#">Digital Marketing</a></h5>
                
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="card card-body shadow-3 text-center">
                <p class="my-5"><i class="icon-megaphone lead-6"></i></p>
                <h5 class="mb-5 fw-500"><a href="#">Branding Package</a></h5>
                
              </div>
            </div>

          </div>


        </div>
      </section>


     



    </main><!-- /.main-content -->


    <footer class="footer text-white bg-img bg-fixed" style="background-image: url(../static/img/vector/9.jpg)" data-overlay="8">
      <div class="container py-7">
        <div class="row gap-y">
          <div class="col-6 col-md-4 col-xl-2">
            <h6 class="mb-4"><strong>Company</strong></h6>
            <div class="nav flex-column">
              <a class="nav-link" href="/">About us</a>
              <a class="nav-link" href="/career">Careers</a>
              <a class="nav-link" href="/service">Services</a>
              <a class="nav-link" href="/contact">Contact Us</a>
            </div>
          </div>
          <div class="col-md-5">
            <h6 class="mb-4"><strong>Office</strong></h6>
            <h5>Pune, India</h5>
            <p>S No 18/B, Third Floor, Aargya Apt, Karvenagar,<br> Bharatkunj - 1, Erandwane <br>Pune, Maharashtra 411038</p>
            <br>
          
          </div>
      

        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row gap-y">

          <div class="col-md-6 text-center text-md-left">
            <small class="opacity-70">© 2020 POTENS IT SERVICES AND CONSULTANCY PVT.LTD. ALL RIGHTS RESERVED.</small>
          </div>

          <div class="col-md-6 text-center text-md-right">
            <div class="social">
              <a class="social-linkedin" href="https://www.linkedin.com/company/potens-it-services-and-consultancy/"><i class="fa fa-linkedin"></i></a>
              <a class="social-facebook" href="https://www.facebook.com/Potens-It-Services-And-Consultancy-106026941295270/"><i class="fa fa-facebook"></i></a>
              <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </footer><!-- /.footer -->



    <!-- Scripts -->
    <script src="../static/js/templates.min.js"></script>
    <script src="../static/js/script.js"></script>

  </body>
</html>
